.item-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(243, 234, 234);

  .item {
    width: 300px;
    height: fit-content;
    padding: 15px;
    margin-top: 10px;
    background-color: #fff;

    &-image {
      width: 90%;
      height: 70%;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-details {
      width: 90%;
      margin: 0 auto;

      .item-price {
        display: inline;
      }

      .item-quantity {
        display: inline;
        margin: 0;
        float: right;
      }
    }
  }
}
